# Ignore model data directory (too large)
data/models

# Ignore master file (too large)
data/master_file.csv

# Ignore Figures directory (too large)
data/Figures

# Ignore master plot (too large)
fig/flux_vs_lint_master.eps

# Ignore papers directory (not relevant)
papers

# Ignore learning contract directory (not relevant)
learning_contract
